.register_page_inner {
  margin: 2rem;
}
.register_page_inner .register_page_header {
  position: relative;
  width: 100%;
  height: 100px;
  background: steelblue;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_page_inner .register_page_header button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  font-size: 2rem;
  color: rgb(218, 35, 35);
  background: none;
  border: none;
}
.register_page_inner .register_page_body {
  margin-top: 3rem;
}
.register_page_inner .register_page_body .register_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: steelblue;
  border: none;
  outline: none;
  padding: 0.2rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.register_page_inner .register_page_body .login_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: steelblue;
  border: 1px solid steelblue;
  outline: none;
  padding: 0.2rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.register_page_inner .register_page_body .login_btn:hover {
  transition: color 1s;
  background: steelblue;
  color: black;
}